

<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36442208-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>

<p>
sorry - I haven't made a main page yet.... but Hello World! :D
</p>
<p>
Its ok though, the other links work ex. something.com/test OH and they have graphics better than this plain text page... or at least should... like CSS AND JAVASCRIPT :) !
</p>
right now there are the following: 
<ul><li><a href="/dino">/dino:</a> because dinos are awesome</li>
<li><a href="/sigma">/sigma:</a>I used a small visualization tool for structured data. Right now it's running off of an anime database. It can be made to do active queries, but I don't want to overquery the website, so right now it's using a stable dataset.</li>
 <li><a href="/college">/college:</a> surprise!</li>
<li><a href="/reader">/reader:</a>because I can say what I read... or you can just import the xml file from my google reader which really shows what I read - and showing is better than telling!...really though it is better to just import it into a feed reader - I use google reader typically. Tons of XML data is not easy to read</li>
</ul></p>

these are sort of works in progress :P. Next goal is building a rudimentary Go (the game) player using HMMs as that sounds fun!
<p>
 so www.graphvis.heroku.com/reader for the last one!'
</p>
<p>
Hmm something I want to work on next ~ So Go game records are stored. I want to try running a HMM model to see how well I can do :). It's not chess, but it's just as fun! </p>
<p> And then next up using d3.js to graph some more data! http://mbostock.github.com/d3/talk/20111116/gears.html is really neat :) ... oh and remembering to add documentation to BUMPS and fix the starter scikit learn problem
</p>
